<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date{ISO8601} [%thread] %-5level %logger{10}.%M - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>

  <logger name="io.dropwizard" level="WARN">
    <appender-ref ref="STDOUT" />
  </logger>

  <logger name="org.apache.http" level="WARN">
    <appender-ref ref="STDOUT" />
  </logger>

  <logger name="org.reflections" level="WARN">
    <appender-ref ref="STDOUT" />
  </logger>
</configuration>